.form_control {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}

.form_control label {
    margin-bottom: 0.6em;
    font-weight: bold;
    color: black;
}

.form_control input {
    background-color: #7b7b7b33;
    padding: 0.7em;
    border: none;
}

.form_control input::placeholder {
    color: #7b7b7b;
}
