.btn {
    background-color:black;
    color: white;
    border: 1px solid darkcyan ;

    padding: 0.7em 1.2em;
    margin-bottom: 2rem;

    cursor: pointer;
    text-decoration: none;
    transition: 0.5s;
}

.btn:hover {
    color: orange;
}
