.btn {
    background-color: black;
    color: white;
    border: 1px solid coral ;

    padding: 0.5em 1.2em;
    margin-bottom: .5rem;
    border-radius: 10px;
    cursor: pointer;
    text-decoration: none;
    transition: 0.5s;
}

.btn:hover {
    color: orange;
}

.exit {
  background-color: red;
}

.exit:hover {
  color: orange;
}