.btn {
    background-color: black;
    color: white;
    border: 1px solid coral ;

    padding: 0.5em 1.2em;
    margin: 1rem 0rem;
    
    border-radius: 10px;
    cursor: pointer;
    text-decoration: none;
    transition: 0.5s;
}

.btn:hover {
    color: orange;
}