.navbar {
  width: 100%;
  padding: 1.2rem;
  background-color: #000;
}

/* Container interno */
.navbar :global(.nav) {
  display: flex;
  align-items: end;
}

/* Menu */
.list {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  align-items: center;
}

/* Itens */
.item a {
  text-decoration: none;
  color: white;
  font-weight: 500;
}

.item a:hover {
  color: orange;
}

/* Botão mobile */
.menu_button {
  width: 100px;
  display: none;
  background: none;
  border: none;
  font-size: 1.8rem;
  color: white;
  cursor: pointer;
}
/* 📱 Tablet */
@media (max-width: 1024px) {
  .list {
    justify-content: space-between;
    padding: 0 1.5rem;
  }
}

/* 📱 Mobile */
@media (max-width: 768px) {
  .navbar {
    width: 100%;
    position: relative;
    padding: 1.5rem;
  }

  .navbar :global(.nav) {
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
  }

  .menu_button {
    display: block;
  }

  .list {
    position: absolute;
    top: 100%;
    right: 0;
    width: 100%;
    background-color: #000;

    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    padding: 2rem 0;

    opacity: 0;
    pointer-events: none;
    transform: translateY(-10px);
    transition: opacity 0.3s ease, transform 0.3s ease;
  }

  .list.active {
    opacity: 1;
    pointer-events: all;
    transform: translateY(0);
  }
}

/* 📱 Mobile pequeno */
@media (max-width: 480px) {
  .list {
    gap: 1.2rem;
    padding: 1.5rem 0;

  }

  .item a {
    font-size: 0.95rem;
  }
}