.project_card {
    width: 24%;

    padding: 1em;
    margin: 0.5%;

    border: 1px solid #7a7a7a;
    border-radius: 5px;
}

.project_card h4 {
    background-color: #222;
    color: orange;

    padding: 0.4em;
    margin-bottom: 1.3em;
    font-size: 1.3em;
}

.project_card p {
    color: #7a7a7a;
    margin-bottom: 1em;
}

.project_card p span {
    font-weight: bold;
}

.categories_text {
    display: flex;
    align-items: center;
}

.categories_text span {
    display: block;
    width: 12px;
    height: 12px;

    margin-right: 5px;

    background-color: #CCC;
    border-radius: 50%;
}


.project_card_actions {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 1.2em;
}

.project_card_actions a,
.project_card_actions button {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: white;
    color: #222;

    padding: 0.6em 1em;
    margin-right: 1em;

    text-decoration: none;
    font-size: .9em;
    border: none;
    border: 1px solid #222;

    cursor: pointer;
    transition: 0.5s;
}

.project_card_actions svg {
    margin-right: .5em;
}

.project_card_actions a:hover,
.project_card_actions button:hover {
    background-color: #222;
    color: orange;
}


/* Cores por tipo */
.categories_text .infraestrutura {
  background-color: chocolate;
}

.categories_text .desenvolvimento {
  background-color: aqua;
}

.categories_text .front-end {
  background-color: cornflowerblue;
}

.categories_text .back-end {
  background-color: yellow;
}

.categories_text .planejamento {
  background-color: chartreuse;
}

/* 📱 Tablet */
@media (max-width: 1024px) {
  .project_card {
    width: 48%;
    margin: 1%;
  }
}

/* 📱 Mobile */
@media (max-width: 768px) {
  .project_card {
    width: 90%;
    margin: 0.5em 0;
  }

  .project_card_actions {
    flex-direction: column;
    gap: 0.8em;
  }

  .project_card_actions a,
  .project_card_actions button {
    width: 80%;
    box-sizing: border-box;
    margin-right: 0;
  }
}

/* 📱 Mobile pequeno */
@media (max-width: 480px) {
  .project_card {
    padding: 3rem;
  }
  .project_card h4 {
    font-size: 1.1em;
  }

  .project_card {
    padding: 0.8em;
  }

  .project_card_actions a,
  .project_card_actions button {
    width: 80%;
    box-sizing: border-box;
    margin-right: 0;
  }
}