.project_details {
    padding: 2em;
}

.project_details h1,
.project_details h2,
.project_details p {
    margin-bottom: 0.5em;
}

.project_details h1 {
    background-color: #222;
    color: white;
}

.project_details span {
    font-weight: bold;
}

.service_form_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    padding-bottom: 1.2em;
    margin-bottom: 1.2em;
    border-bottom: 1px solid #7a7a7a;
}

.btn {
    background-color: black;
    color: white;

    padding: 0.5em 1em;
    text-decoration: none;
    border: none;
    transition: 0.5s;
    cursor: pointer;

    max-height: 40px;
}

.btn:hover {
    color: orange;
}

.project_info {
    width: 100%;
    color: rgba(128, 128, 128, 0.616);
}