.home_container {
    width: 100%;
    max-width: 1200px;
    padding: 3rem 2rem;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.home_container h1 {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
}

.home_container h1 span {
    color: orange;
    background-color: #222;
    padding: 0 0.3rem;
    border-radius: 4px;
}

.home_container p {
    margin-bottom: 1.5rem;
    color: #7b7b7b;
    font-size: 1.1rem;
    max-width: 600px;
}

.home_container img {
    width: 100%;
    max-width: 650px;
    height: auto;
    margin: 2rem 0;
}

/* 📱 Tablets médios */
@media (max-width: 900px) {
  .home_container {
    padding: 2.5rem 1.5rem;
  }

  .home_container h1 {
    font-size: 2.2rem;
    line-height: 1.3;
  }

  .home_container p {
    font-size: 1rem;
    max-width: 90%;
  }

  .home_container img {
    max-width: 520px;
  }
}

/* 📱 Celulares */
@media (max-width: 600px) {
  .home_container {
    padding: 1rem 0rem;

  }

  .home_container h1 {
    font-size: 1.5rem;
    line-height: 1.3;
  }

  .home_container p {
    font-size: 0.8rem;
  }

  .home_container img {
    max-width: 98%;
    margin: 1.5rem 0;
  }
}

/* 📱 Celulares pequenos */
@media (max-width: 400px) {
  .home_container {
    padding: 1rem 0rem;

  }
  .home_container h1 {
    font-size: 1.5rem;
  }

  .home_container p {
    font-size: 0.7rem;
    font-weight: 500;
  }

  .home_container img {
    margin: 1.2rem 0;
  }
}