.newproject_container {
  width: 100%;
  max-width: 480px;
  margin: 2rem auto;
  padding: 2.5rem 2rem;

  background-color: #fff;
  border-radius: 10px;
}

.newproject_container h1 {
  margin-bottom: 0.5rem;
  font-size: 1.8rem;
}

.newproject_container p {
  color: #7b7b7b;
  margin-bottom: 1.5rem;
  font-size: 1rem;
  font-weight: bold;

}
/* 📱 Tablets */
@media (max-width: 900px) {
  .newproject_container {
    max-width: 90%;
    padding: 2.2rem 1rem;
  }

  .newproject_container h1 {
    font-size: 1.6rem;
    
  }

  .newproject_container p {
    font-size: 1.2rem;
  }
}

/* 📱 Mobile */
@media (max-width: 600px) {
  .newproject_container {
    width: 80%;
    margin: 1rem auto;
    padding: 2rem 1.2rem;
    border-radius: 8px;
  }

  .newproject_container h1 {
    font-size: 1.5rem;
    
  }

  .newproject_container p {
    font-size: 0.9rem;
    
  }
}

/* 📱 Mobile pequeno */
@media (max-width: 400px) {
  .newproject_container {

    width: 80%;
    margin: 1rem auto;
    padding: 1.6rem 1rem;
  }

  .newproject_container h1 {
    font-size: 1.3rem;
    
  }

  .newproject_container p {
    font-size: 0.8rem;
  }
}