.project_container {
    padding: 2em;
}

.title_container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2em;
}

.info {
    background-color: yellow;
    color: red;
    font-weight: 600;
    padding: 5px;
}
/* 📱 Mobile */
@media (max-width: 768px) {
  .title_container {
    flex-direction: column;
    align-items: flex-start;
  }

  .title_container h1 {
    font-size: 1.6rem;
  }
}
